.container{
    
  }
  

.cardlist{
    align-content: center;
    background-color: rgb(0, 153, 255);
    color: rgb(195, 255, 0);
    width: 14.2%;
    margin: flex;
    text-align: center;
}

.col-4{
    margin-left:30%;
    margin-top: 5%;
    border-left: 10cm;
    border-radius: 10%;
    border: 1em;
    border-style: double; color:rgb(139, 109, 167);
}

.mb-3{
    color: rgb(8, 215, 177);
    margin: 6%;
    
}

#btn1{
    margin-left: 10%;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
    margin-bottom: 15%;

    color: aquamarine;
}

.todo{
    border-style: dotted;
    border-width: 20%;
    border-radius: 20%;
    margin-left: 40%;
    margin-top: 3%;
}

.btnadd{
    color: aquamarine;
    background-color: darkslateblue;

}

.thing{
    background-color: gray;
}